.category-wrap{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    overflow: auto;
    &::-webkit-scrollbar{
        display: none;
    }
    &-inner{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 1100px;
        gap: 2rem;
        padding-left: .5rem;
        padding-right: 1rem;
    }
    &-fixed{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        gap: 2rem;
        z-index: 999;
        padding: 10px;
        border-bottom: 1px solid grey;
        .cardchalar{
            padding: 0 !important;
            width: calc(100% / 8 - 2rem);
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            .category-card{
                margin: 0 !important;
                span{
                    display: none !important;
                }
                h3{
                    margin: 0 !important;
                }
            }
        }
        background-color: white;
    }
    .active{
        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        // background: #fff;
        // z-index: 25;
        background-color: #191919;
    }
    .cardchalar{
        padding: 20px 39px;
        border-radius: 12px;
        border: 1px solid var(--Line-gray, #F0F0F0);
        background: var(--White, #FFF);
        &:hover {
            box-shadow: 0 0 10px #F0F0F0;
        }
        &:hover h3{
            color: #E23535;
        }
        h3{
            color: var(--Black, #191919);
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; 
            transition: 0.5s;
            // &:hover{
            //     color: #E23535;
            // }
        }
    }
}